{% extends "fellowship/base.html" %}
{% block title %} HOME PAGE {% endblock %}
{% block content %}
    <table class="art-table">
        <thead>
            <tr>
                <th scope="col">TITLE</th>
                <th scope="col">LAST</th>
                <th scope="col">PRICE</th>
                <th scope="col">ARTIST</th>
                <th scope="col">OWNER</th>
                <th scope="col">ARTWORK</th>
                <th scope="col"></th>
            </tr>   
        </thead>
        <tbody>
            {% for artwork in user.ownedArt %}
                {% if artwork.forSale == False %}
                    <tr>
                        <td scope="row">{{ artwork.artName }}</td>
                        <td>{{ artwork.purchasePrice }}</td>
                        <td>{{ artwork.currentPrice }}</td>
                        <td>{{ artwork.artist.artistUser.userName }}</td>
                        <td>{{ artwork.ownerUser.userName }}</td>
                        <td><img src="{{ url_for('views.get_img', id=artwork.id)}}" class="art-image-thumbnail" ></td>
                        <td><button type="button" class="btn btn-primary" onClick="sellArtwork({{ artwork.id }})" >[SELL]</button></td>

                    </tr>
                {% endif %}
                
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


<!--
    <p>{{ artwork.artName }}</p>
    <img src="{{ url_for('views.get_img', id=artwork.id)}}" class="art-image-thumbnail" >
    <p>{{ artwork.artist.artistUser.userName }} </p>
    <p>{{ artwork.purchasePrice }} </p>
    <p>{{ artwork.currentPrice }} </p>

-->