{% extends "base.html" %}
{% block title %} HOME PAGE {% endblock %}
{% block content %}
<h1> BETA TESTERS WELCOME TO FELLOWSHIP!</h1>
<br>
<p> THIS IS CURRENTLY STILL A WIP PROGRESS, SO PLEASE REPORT ANY BUG YOU FIND. </p>
<br>
<p> 
    THIS WEBSITE WILL FUNCTION AS A FAKE NFT/STOCK TRADING MINIGAME FOR AN UPCOMING SCIFI DND CAMPAIGN.
    MOST OF THE FUNCTIONALITY SHOULD BE IN PLACE AT THIS POINT, BUT THERE MAY STILL BE UPCOMING CHANGES 
    TO HELP WITH BALANCING OR BUG FIXES.    
</p>
<br>
<p>
    ART PRICES SHOULD CHANGE EVERY INGAME DATE, WHICH I, THE ADMIN, MANUALLY SET. PRICES CAN EITHER GO UP OR
    DOWN.  YOU CAN SEE THE CURRENT DATE BELOW THE WEBSITE TITLE, IN RED. FIRST 3 DIGITS ARE THE DAY, LAST 4 ARE
    THE YEAR. 
</p>
<br>
<p>
    FOR MOBILE USERS, THERE WAS A HEATING ISSUE EARLIER, SHOULD BE FIXED NOW AS SOME OF THE EFFECTS HAVE BEEN
    ADJUSTED SPECIFICALLY TO ACCOMODATE MOBILE DEVICES.  PLEASE REPORT IF YOU STILL EXPERIENCE ISSUES.
</p>
<br>
<br>
<h1>USAGE:</h1>
<p>
    PROFILE: THIS TAB WILL TAKE YOU TO YOUR PROFILE INFO, HERE YOU SHOULD FIND YOUR USERNAME, RATINGS AND
    CURRENT CREDITS.  THE USER RATING SHOULD CHANGE WHEN YOU SUCCESSFULLY SELL AN OWNED ART PIECE, AND THE
    ARTIST RATING SHOULD CHANGE WHEN AN ART PIECE YOU MADE GETS SOLD.
</p>
<br>
<p>
    MARKET: THIS TAB WILL TAKE YOU TO THE MARKET WHERE YOU CAN SEE ALL ITEMS THAT ARE UP FOR SALE.  YOU SHOULD
    BE ABLE TO SEE THE ITEMS YOU HAVE PUT UP FOR SALE, BUT SHOULD NOT BE ABLE TO PURCHASE ITEMS OWNED BY YOU
</p>
<br>
<p>
    INVENTORY: THIS TAB HAS EVERYTHING YOU OWN, THAT YOU HAVE NOT PUT UP FOR SALE, YOU CAN CHOOSE TO PUT THEM
    UP FOR SALE HERE, AND THEY WILL GO TO THE MARKET.  IF NONE OF YOUR ITEMS ARE SOLD ON THE MARKET BY THE END
    OF THE DAY, THEN THEY WILL RETURN TO YOUR INVENTORY AND YOU CAN CHOOSE TO SELL THEM THE NEXT DAY WITH THE NEW
    PRICE.
</p>
<br>
<p>
    ARTIST: IF YOU HAVE THE ARTIST ROLE YOU SHOULD BE ABLE TO SEE THIS TAB, IF NOT, CONTACT ADMIN TO BE GIVEN THE 
    ARTIST ROLE.  IN THIS TAB, YOU CAN CREATE ART PIECES.  YOU CAN NAME THEM, SET THEIR PRICE, AND UPLOAD THE FILE.
    YOU SHOULD ONLY BE ABLE TO UPLOAD JPGS,JPEGS, AND PNGS.  THEIR SHOULD BE A SIZE LIMIT ON THE FILES AS WELL.
</p>
{% endblock %}