{% extends "base.html" %}
{% block title %} HOME PAGE {% endblock %}
{% block content %}
    <div class="collection-grid">
            {% for artwork in user.ownedArt %}
                {% if artwork.forSale == False %}
                <div class="container-fluid">
                    <div class="content-border-art">
                        <p class="artwork-title">{{ artwork.artName }}</p>
                        <p><img src="{{ url_for('views.get_img', id=artwork.id)}}" class="art-image-thumbnail" ></p>
                        <p>LAST: {{ artwork.purchasePrice }}</p>
                        <p>PRICE: {{ artwork.currentPrice }}</p>
                        <p>ARTIST: {{ artwork.artist.userName }}</p>
                        <p>OWNER: {{ artwork.ownerUser.userName }}</p>
                        <p class="artwork-title"><button type="button" class="btn btn-primary" onClick="sellArtwork({{ artwork.id }})" >[SELL]</button></p>
                    </div>
                </div>
                {% endif %}
                
            {% endfor %}
    </div>
{% endblock %}


<!--
    <p>{{ artwork.artName }}</p>
    <img src="{{ url_for('views.get_img', id=artwork.id)}}" class="art-image-thumbnail" >
    <p>{{ artwork.artist.artistUser.userName }} </p>
    <p>{{ artwork.purchasePrice }} </p>
    <p>{{ artwork.currentPrice }} </p>

-->