{% extends "base.html" %}
{% block title %} MARKET {% endblock %}
{% block content %}
    <div class="collection-grid">
            {% for artwork in artworks %}
                {% if artwork.forSale == True  %}
                <div class="container-fluid">
                    <div class="content-border-art">
                        <p class="artwork-title">{{ artwork.artName }}</p>
                        <p><img src="{{ url_for('views.get_img', id=artwork.id)}}" class="art-image-thumbnail" ></p>
                        <p>LAST: {{ artwork.purchasePrice }}</p>
                        <p>PRICE: {{ artwork.currentPrice }}</p>
                        <p>ARTIST: {{ artwork.artist.userName }}</p>
                        <p>OWNER: {{ artwork.ownerUser.userName }}</p>
                        {% if artwork.ownerUser.id!= user.id %}
                            <p><button type="button" class="btn btn-primary" onClick="buyArtwork({{ artwork.id }})" >[BUY]</button></p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                
            {% endfor %}
        </div>
{% endblock %}