{% extends "base.html" %}
{% block title %} SIGN UP {% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center"> </h3>
    <div class="form-group">
        <label for = "userName"> ACCESS CODE </label>
        <input
            type="text"
            class="form-control"
            id="code"
            name="code"
            placeholder="ENTER ACCESS CODE"
        />
    </div>
    <div class="form-group">
        <label for = "userName"> USER NAME </label>
        <input
            type="text"
            class="form-control"
            id="userName"
            name="userName"
            placeholder="ENTER USER NAME"
        />
    </div>
    <div class="form-group">
        <label for = "password1"> PASSWORD </label>
        <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="ENTER PASSWORD"
        />
    </div>
    <div class="form-group">
        <label for = "password2"> PASSWORD (CONFIRM)</label>
        <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="CONFIRM PASSWORD"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">SUBMIT</button>
</form>
{% endblock %}